@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Lato:wght@300&family=Poppins&family=Ubuntu:wght@300&display=swap");

.card-container {
  height: 250px;
  width: 300px;
  background-color: #192836;
  padding: 0px;
  margin: 20px;
  font-size: 20px;
  border-radius: 6px;
}

.image-container {
  height: 180px;
  width: 300px;
  border-radius: 6px;
  color: #fff;
  padding: 0px;
  margin: 0;
  /* padding-block: 10px; */
}

.comments-container {
  color: #fff;
  /* padding-block: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  font-weight: 500;
  /* font-family: "Popins"; */
}
