.search {
  display: flex;
  justify-content: center;
  background-color: #3756;
  height: 220px;
}

.searchInputs {
  display: flex;
  align-items: center;    
}

.input-box {
  border-radius: 20px;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 45px;
  width: 800px;
  border-radius: 20px;
}
