.wrapper {
  height: 100vh;
  text-align: center;
  color: #fff;
  top: 0;
  /* background-color: #333; */
  padding-block: 0;
  margin-block: 0;
}

.container-style {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.navbar {
  z-index: 999;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 0;
  /* padding: 0; */
  padding-block: 0;
}
